$white: #fff;
$grey: #f4f6f8;
$dark-grey: #9293b0;
$black: #3b3c40;
$purple-light: #f3efff;
$pink: #e50e78;
$line: #c9c9d7;
$bg-overlay: rgba(0, 0, 0, 0.5);

// для медиа-запросов
$content-width: 192rem;
$medium-width: 1280px;
$laptop-width: 1024px;
$tablet-width: 850px;
$small-width: 750px;
$mobile-width: 490px;

/* font */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
