%transition-opacity {
  transition: opacity 0.4s linear;
}

%transition-all {
  transition: all 0.3s ease-in;
}

%font-prim {
  font-family: 'Euclid Circular A', 'Arial', sans-serif;
}

%purple-light-gradient {
  background: linear-gradient(0deg, rgba(246, 245, 250, 0.63) 0%, #f6f5fa 100%);
}

%purple-gradient {
  background: linear-gradient(145deg, #7d68fb 33.75%, #afa2fb 80.01%);
}

%button-gradient {
  background: linear-gradient(96deg, #dd3197 0%, #822faf 101.4%);
}

%box-shadow {
  box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.2);
}
