@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.promo {
  width: 100%;
  padding-top: 6.45rem;

  @include media-small {
    padding-top: 1rem;

    .wrapper {
      padding: 0;
    }
  }
}

.promo__container {
  padding: 2.8rem 3rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: $purple-light;
  border-radius: 5rem;

  @include media-small {
    padding: 0 0 5rem;
    border-radius: 2rem;
  }
}

.promo__banner {
  width: 69rem;
  height: 42.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../../images/promo.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  @extend %transition-all;

  @include media-hover {
    &:hover {
      filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.22));
    }
  }

  @include media-small {
    width: 35.5rem;
    height: 29.5rem;
    background-image: url(../../images/banner.png);
  }
}

.promo__banner-btn {
  @include button;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $black;
  background-image: url(../../images/icons/arrow-right-up.svg);
  background-size: 3.4rem;
  background-position: center;
  background-repeat: no-repeat;
  @include button-hover;

  @include media-small {
    width: 4rem;
    height: 4rem;
  }
}

.promo__slider {
  width: 100%;
  height: 44.2rem;

  @include media-small {
    height: 56.7rem;
  }
}

.promo__slide {
  margin: 1rem;
  display: flex;
  gap: 2rem;

  @include media-small {
    width: 35.5rem;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}
