@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.about {
  width: 100%;
  padding-top: 8rem;

  @include media-small {
    padding-top: 3rem;
  }
}

.about__list {
  width: 100%;
  @include list;
  display: flex;
  gap: 2rem;

  @include media-small {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.about__item {
  width: 100%;
  padding: 4rem 3rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  row-gap: 1.2rem;
  background-image: url(../../images/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;

  @include media-small {
    padding: 2.5rem 0.9rem;
    row-gap: 0.8rem;
  }
}

.about__image {
  width: 10rem;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  grid-row: 1 / 3;

  @include media-small {
    width: 8.6rem;
  }
}

.about__title {
  @include text($font-size: 2.4rem, $font-weight: $fw-semibold);
  max-width: 26.3rem;

  @include media-small {
    @include text($font-size: 1.8rem, $font-weight: $fw-semibold);
    max-width: 20.7rem;
  }
}

.about__subtitle {
  @include text(
    $color: $dark-grey,
    $font-size: 1.6rem,
    $font-weight: $fw-semibold,
    $line-height: 1.4
  );
  max-width: 26.3rem;

  @include media-small {
    @include text(
      $color: $dark-grey,
      $font-size: 1.2rem,
      $font-weight: $fw-medium,
      $line-height: 1.4
    );
    max-width: 22rem;
  }
}
