@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.cards {
  width: 100%;
  max-width: 156rem;
  position: relative;
  overflow: hidden;

  .slick-list {
    margin: 0 -1rem;
  }

  &_type {
    &_popular {
      max-height: 40.7rem;

      @include media-small {
        padding-top: 0.5rem;
        max-height: 54.4rem;
      }
    }

    &_discounts {
      margin: 5rem 3rem 3rem;
      max-width: 156rem;
      max-height: 50.2rem;
      filter: drop-shadow(5px 15px 70px rgba(173, 178, 201, 0.35));

      .custom-arrow_type_cat-next {
        margin-top: 1rem;
      }

      @include media-small {
        margin: 0;
        margin-bottom: 3rem;
        margin-left: 0.5rem;
        max-height: 54.4rem;
      }
    }
  }
}

.cards__slide {
  margin: 1rem;
  max-width: 37.5rem;

  @include media-small {
    margin: 0.5rem;
    max-width: 17.8rem;
  }
}
