@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/placeholders.scss';
@import '../../styles/abstract/mixins.scss';

.search {
  padding-top: 0.8rem;
  margin-right: 1.2rem;
  width: 91.5rem;
}

.search__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.search__input {
  width: 100%;
  padding: 1.9rem 6.5rem 1.9rem 2.5rem;
  background-color: $white;
  border-radius: 1.5rem;
  border: 1px solid $pink;
  caret-color: $dark-grey;
  @include text(
    $font-size: 1.6rem,
    $font-weight: $fw-medium,
    $line-height: 1.4
  );
  outline: none;

  &::-webkit-input-placeholder {
    @extend %font-prim;
    font-style: normal;
  }

  &::-moz-placeholder {
    @extend %font-prim;
    font-style: normal;
  }

  &::-ms-input-placeholder {
    @extend %font-prim;
    font-style: normal;
  }

  &::placeholder {
    @extend %font-prim;
    font-style: normal;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $white inset;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $white;
  }
}

.search__submit {
  @include button;
  flex-shrink: 0;
  width: 5rem;
  min-height: 5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-image: url(../../images/icons/search.svg);
  background-size: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $pink;
  border-radius: 1rem;
  outline: none;
  @include link-hover;
}
